{% extends 'base.html' %}
{% block title %}Участники — Виртуальные системы{% endblock %}
{% block content %}
<div class="container">
  <section>
    <h2>Наша команда</h2>
    <div class="grid">
      <div class="card">
        <h3>Саканян Артак</h3>
        <p>Backend-разработчик: Docker-оркестрация, API.</p>
      </div>
      <div class="card">
        <h3>Саканян Артак</h3>
        <p>Frontend и UX/UI, дизайн интерфейса.</p>
      </div>
      <div class="card">
        <h3>Саканян Артак</h3>
        <p>DevOps: CI/CD, GitHub Actions.</p>
      </div>
    </div>
  </section>
</div>
{% endblock %}
